PowerApp/pkgs/Wadl/Movietestbysearch.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://canada-001.azure-apim.net/apim/movie-20test-20by-20search-5f5d055763c5aa7577-5f7bf81411aac31cb1" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Movietestbysearch" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Movie test by search"></doc>
  <grammars>
    <jsonTypes targetNamespace="https://canada-001.azure-apim.net/apim/movie-20test-20by-20search-5f5d055763c5aa7577-5f7bf81411aac31cb1" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="GetAllsearchResultsBySearch_responses_default_def_Search_def_items_def_Title_def" />
      <string name="GetAllsearchResultsBySearch_responses_default_def_Search_def_items_def_Year_def" />
      <string name="GetAllsearchResultsBySearch_responses_default_def_Search_def_items_def_imdbID_def" />
      <string name="GetAllsearchResultsBySearch_responses_default_def_Search_def_items_def_Type_def" />
      <string name="GetAllsearchResultsBySearch_responses_default_def_Search_def_items_def_Poster_def" />
      <object name="GetAllsearchResultsBySearch_responses_default_def_Search_def_items_def">
        <property name="Title" type="string" />
        <property name="Year" type="string" />
        <property name="imdbID" type="string" />
        <property name="Type" type="string" />
        <property name="Poster" type="string" />
      </object>
      <array typeRef="GetAllsearchResultsBySearch_responses_default_def_Search_def_items_def" name="GetAllsearchResultsBySearch_responses_default_def_Search_def" />
      <string name="GetAllsearchResultsBySearch_responses_default_def_totalResults_def" />
      <string name="GetAllsearchResultsBySearch_responses_default_def_Response_def" />
      <object name="GetAllsearchResultsBySearch_responses_default_def">
        <property name="Search" typeRef="GetAllsearchResultsBySearch_responses_default_def_Search_def" />
        <property name="totalResults" type="string" />
        <property name="Response" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://canada-001.azure-apim.net/apim/movie-20test-20by-20search-5f5d055763c5aa7577-5f7bf81411aac31cb1">
    <resource path="/{connectionId}/">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetAllsearchResultsBySearch" actionName="GetAllsearchResultsBySearch" siena:isDeprecated="false">
        <doc title="GetAllsearchResultsBySearch&#xA;function to get all search results by Search" />
        <request>
          <param style="query" name="apikey" type="xs:string" default="41586f05" />
          <param style="query" name="s" type="xs:string" />
          <param style="query" name="y" type="xs:string" />
          <param style="query" name="i" type="xs:string" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetAllsearchResultsBySearch_responses_default_def" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_movie-20test-20by-20search-5f5d055763c5aa7577-5f7bf81411aac31cb1" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>